@for (icon of files(); track icon.newFilename) {
  <div>
    @if (icon.result === 'error') {

      <div class="icon show-error">
        <app-icon [icon]="'icon-error'" />
        <span class="error-text">
          {{ icon.error }}
        </span>
      </div>

    } @else {

      @if (icon.result === 'unchanged') {
        <div class="whiteout">
          <app-icon class="icon" [icon]="'icon-equals'" />
        </div>
      }

      <div class="icon">
        <app-icon [icon]="getIcon(icon)" />
      </div>
    }
  </div>
}
