<div
  class="rename-container"
  (mouseenter)="mouseEntered()"
  (mouseleave)="mouseLeft()"
>

  <div #editor1>
  </div>

  <div
    #editor2
    id="scrollSelector"
    (scroll)="updateScroll()"
    [style]="{ 'user-select': mode === 'review' ? 'none' : 'initial' }"
  >
  </div>

  <div #comparison1 class="compare-icons">
    <app-comparison [files]="compareIcons" />
  </div>

</div>

<div
  class="rename-container rename-overlay animated"
  [style]="{
    'opacity': hover ? 0 : 1,
    'display': mode === 'review' ? 'none' : 'initial'
  }"
>

  <div #editor3>
  </div>

  <div #editor4>
  </div>

  <div #comparison2 class="compare-icons">
    <app-comparison [files]="compareIcons" />
  </div>

</div>

<!-- =========================================================================================== -->
<!-- FADE OUT OVERFLOWING TEXT -->

<div class="fade-out fade-center-left">
</div>

<div class="fade-out fade-right">
</div>

@if (sourceOfTruth.length === 0) {
  <div class="instructions">
    Drag & Drop files and/or folders here
  </div>
}

<!-- =========================================================================================== -->
<!-- BUTTONS ON THE BOTTOM -->

@if (mode === 'edit') {
  <button
    class="button-add button-add-files"
    (click)="addFile()"
    title="Add files"
  >
    <app-icon [icon]="'icon-file'" />
    <app-icon [icon]="'icon-add'" />
  </button>

  <button
    class="button-add button-add-folders"
    (click)="addFolder()"
    title="Add folders"
  >
    <app-icon [icon]="'icon-folder'" />
    <app-icon [icon]="'icon-add'" />
  </button>

  <button
    class="button-middle"
    (click)="openTXT()"
    [disabled]="sourceOfTruth.length === 0"
    title="Open in text editor"
  >
    <app-icon [icon]="'icon-edit'" />
  </button>

  <button
    class="button-right"
    (click)="renameStuff()"
    [disabled]="sourceOfTruth.length === 0"
    title="Rename"
  >
    <app-icon [icon]="'icon-checkmark'" />
  </button>
}

@if (mode === 'review') {
  <button
    style="left: 30px;"
    (click)="restart()"
    title="Restart"
  >
    <app-icon [icon]="'icon-restart'" />
  </button>
}

<!-- =========================================================================================== -->
<!-- REPORT WHEN RENAMING IS DONE -->

@if (mode === 'review') {
  <div class="rename-report">

    <div class="report-item">
      <span class='report-number'>{{ finalReport.renamed }}</span>
      <div class='report-icon'>
        <app-icon [icon]="'icon-checkmark'" />
      </div>
      <span class="report-text">renamed</span>
    </div>

    <div class="report-item">
      <span class='report-number'>{{ finalReport.unchanged }}</span>
      <div class='report-icon'>
        <app-icon [icon]="'icon-equals'" />
      </div>
      <span class="report-text">unchanged</span>
    </div>

    <div class="report-item">
      <span class='report-number'>{{ finalReport.failed }}</span>
      <div class='report-icon'>
        <app-icon [icon]="'icon-error'" />
      </div>
      <span class="report-text">failed</span>
    </div>

  </div>
}

<app-svg-definitions />
