.whiteout {
  background: white;
  display: block;
  height: 19px;
  left: -100vw;
  min-width: calc(150vw - 9px);
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  width: calc(150vw - 9px);
}

.icon {
  display: block;
  width: 19px;
  height: 19px;
}

.show-error {
  cursor: not-allowed;

  .error-text {
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    display: none;
    padding: 5px 10px;
    transform: translate(-10px, -3px);
    position: absolute;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
  }

  &:hover {
    .error-text {
      display: block;
    }
  }
}
