$white:   #FFFFFF;
$gray-05: #F2F2F2;
$gray-10: #E6E6E6;
$gray-15: #d8d8d8;
$gray-20: #CCCCCC;
$gray-30: #B3B3B3;
$gray-40: #999999;
$gray-50: #808080;
$gray-60: #666666;
$gray-70: #4D4D4D;
$gray-80: #333333;
$gray-90: #1A1A1A;
$black:   #000000;
$blue: #3278e7;
$light-blue: #8db3f2;

@mixin scrollBar {
  &::-webkit-scrollbar-track {
    background-color: $white;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-30;
  }
}

button {
  background: $gray-15;
  border-radius: 10px;
  border: 1px solid $gray-30;
  bottom: 20px;
  cursor: pointer;
  font-family: monospace;
  height: 40px;
  max-height: 50px;
  outline: none;
  padding: 4px;
  position: absolute;
  transition-property: background-color, box-shadow, color;
  transition: 300ms;
  width: 40px;

  &:enabled {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    background: $gray-10;
  }

  &:disabled {
    cursor: initial;
    pointer-events: none;
    background: $gray-05;
    border-color: $gray-15;
  }

  &:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
    transition: 100ms;
  }
}

.button-left {
  left: 20px;
}

.button-middle {
  left: calc(50% - 20px);
}

.button-right {
  right: 20px;
}

::ng-deep .ql-editor {
  background: white;
  font-family: monospace;
  line-height: 6px;
  margin: 0;
  outline: none;
  padding: 10px 0;

  p {
    white-space: nowrap;

    &:after {
      border: 1px solid white; // hack to have space at the end of the longest line when x-scrolling
      content: '';
      position: absolute;
      width: 30px;
    }
  }
}

::ng-deep .ql-clipboard {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.rename-container {
  background: white;
  border-bottom: 1px solid $gray-30;
  box-sizing: border-box;
  height: calc(100vh - 80px);
  left: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  position: absolute;
  width: 100vw;

  .ql-container {
    box-sizing: border-box;
    height: calc(100vh - 81px);
    left: 0;
    margin: 0;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    top: 0;
    width: calc(50vw - 30px);

    @include scrollBar;
  }

  & :nth-child(1) {
    overflow: hidden; // hide scrollbars
    padding-bottom: 10px; // compensate for hidden scrollbar
    pointer-events: none;
    transform: translate(20px, 0);
    user-select: none;
  }

  & :nth-child(2) {
    left: 50%;
    transform:translateX(30px); // compensate .ql-container.width
  }
}

.rename-overlay {
  pointer-events: none !important;
  user-select: none;
}

.compare-icons {
  left: calc(50vw - 8px);
  line-height: 19px;
  position: absolute;
  top: 17px;
  z-index: 4;
}

.fade-out {
  // border: 1px solid red;
  height: calc(100vh - 90px);
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 2;
}

.fade-center-left {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), white);
  width: 30px;
  right: 50vw;
}

.fade-right {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), white);
  width: 30px;
  right: 10px;
}

.animated {
  transition-property: opacity;
  transition-duration: 150ms;
  transition-delay: 0;
}

.instructions {
  display: block;
  font-family: monospace;
  font-size: 30px;
  left: 50%;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: calc(50vh - 50px);
  transform: translate(-50%, 0);
  user-select: none;
  width: 90%;
  z-index: 6;
}

.rename-report {
  bottom: 9px;
  left: calc(50vw - 8px); // coincides with comparison icons column (.compare-icons)
  line-height: 20px;
  position: absolute;

  .report-item {
    height: 20px;
    display: block;
    position: relative;

    .report-number {
      font-family: monospace;
      position: absolute;
      right: calc(100% + 10px);
    }

    .report-text {
      position: absolute;
      left: 28px;
    }

    .report-icon {
      width: 20px;
      position: absolute;
      top: 0;
    }
  }
}
